.App {
  margin-top: 500px;
  width: 700px;
  margin: auto;
  padding-top: 150px;
  padding-left: 20px;
  height: 500px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

h1 {
  font-weight: 500;
  font-size: 25px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.div-card{
  float: left;
  width:70%;
  padding-right: 10px;
  background-color: rgba(39, 148, 179, 0.637);
  height:400px;
}

.rad-option {
  margin-left: 30px;
}

.btn-next {
  margin-left: 80px;
  width: 90px;
  height: 30px;
  border-radius: 10px;
}

.btn-next:hover {
  border: 1px solid black;
  font-size: 15px;
  background-color: hsla(255, 90, 90, .7);
  transition: font-size .2s, background-color .2s;
}

.div-timer{
  float: left;
  width: 20%;
  padding-left:15px;
  height:400px;
  background-color: rgba(188, 198, 201, 0.473);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Option{
  text-align: left;
  margin-left : 30px;
  margin-right: 15px;
}

.Question{
  text-align: center;
}